<h1>Users</h1>
<table>
  <tr><th>Email</th><th>Role</th><th>Actions</th></tr>
  <% @users.each do |u| %>
    <tr>
      <td><%= u.email %></td>
      <td><%= u.role %></td>
      <td>
        <%= link_to 'Remove', admin_user_path(u), method: :delete, data: { confirm: 'Remove user?' } %>
      </td>
    </tr>
  <% end %>
</table>
